<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
 
</head>
<body>



<h1 class="title">i Chat 💬 </h1>
<div class="main">
    <div class="name">
        <input type="text" id="name-input" class="name-input" value="👤 anonymous" maxlength="20" >
    </div>
    <ul class="message-container" id="message-container">
        <li class="message-left">
            <p class="message">
                lorem ipsum
                <span>bluebird . 26 july 10:48</span>
            </p>
        </li>
        <li class="message-right">
            <p class="message">
                lorem ipsum
                <span>bluebird . 26 july 10:48</span>
            </p>
        </li>
        <li class="message-feedback">
            <p class="feedback" id="feedback">
                Killer is typing a message
            </p>
        </li>
    </ul>
    <form class="message-form" id="message-form">
        <input type="text" name="message" id="message-input" class="message-input">
        <div class="v-divider">
            <button type="submit" class="send-button">Send</button>
            <h3 class="clients-total" id="clients-total">Total Clients: 2</h3>
        </div>
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="/javascripts/script.js"></script>

</body>

</html>